$color1: #f4645f;
$color2: #428bca;

body {
padding-top: 50px;
}

.sub-header {
padding-bottom: 10px;
border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
border: 0;
}

.sidebar {
position: fixed;
top: 51px; bottom: 0; left: 0;
z-index: 1000;
padding: 20px;
overflow-x: hidden; overflow-y: auto;
background-color: #f5f5f5;
border-right: 1px solid #eee;

.list-group-item {
&+ .list-group {
margin-left: 10px;
}
&.collapsed {
.caret {
border-top: 8px solid;
border-bottom: 0;
}
}
.caret {
float: right;
margin-top: 6px;
border-bottom: 8px solid;
border-top: 0;
}
}
}

@media (min-width: 768px) {
.sidebar {
display: block;
height: auto !important;
}
}

.nav-sidebar {
margin-right: -21px;
margin-bottom: 20px;
margin-left: -20px;
& > li > a {
padding-right: 20px;
padding-left: 20px;
}

& > .active > a,
& > .active > a:hover,
& > .active > a:focus {
color: #fff;
background-color: $color2;
}
}

.main {
padding: 20px;
.page-header {
margin-top: 0;
}
}

.navbar-brand {
font-size: 11px;
}

@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 40px;
}

.navbar-brand {
font-size: 18px;
}
}

.placeholders {
margin-bottom: 30px;
text-align: center;
h4 {
margin-bottom: 0;
font-size: 36px;
}
}

.list-group-item {
&.active, &.active:focus {
background-color: $color1;
border-color: $color1;
}
&:hover {
background-color: #e74430 !important;
border-color: #e74430 !important;
color: #fff !important;
.badge {
background-color: #fff;
color: #e74430
}
}
}

.btn-primary {
background-color: $color1;
border-color: $color1;

&:hover, &:active, &:focus {
background-color: #e74430 !important;
border-color: #e74430 !important;
color: #fff !important;
}
}

.panel-primary {
border-color: $color1;
& > .panel-heading {
color: #fff;
background-color: $color1;
border-color: $color1;
}
}

.navbar-toggle {
margin-left: 15px;
}

.checkbox label {
margin-right : 20px;
}